/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* global styles */

body {
    font-family: "Nunito", sans-serif;
}

h1 {
    font-family: "Alegreya", serif;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

/* header */

header {
    background-color: #ff8400;
    color: white;
}

/* test area */

.orange-outline-button {
    border: 2px solid #ff8400;
    font-weight: bold;
    margin-right: 10px;
}

.orange-outline-button:hover {
    color: white;
    background-color: #ff8400;
}

.correct-word {
    color: blue;
}

.incorrect-word {
    color: red;
}

/* results area */

#results-area {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 132, 0, 0.5);
}

#results-area h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

#results-area > p {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

